@page
@model RazorPagesRecipe.Models.Ingredient

<td>
    @Html.DisplayFor(model => model.Name)
</td>
<td>
    @Html.DisplayFor(model => model.Amount)
</td>
<td>
    @Html.DisplayFor(model => model.Instructions)
</td>
