@page
@model RazorPagesRecipe.Pages.Ingredients.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="pageTitle">
    <h2>Add New Ingredient</h2>
</div>

<div class="whiteBox">
<hr />
    <div class="innerBox">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <h5>Ingredient Name:</h5>
                <input asp-for="Ingredient.Name" class="form-control" />
                <span asp-validation-for="Ingredient.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>Amount per Serving:</h5>
                <input asp-for="Ingredient.Amount" class="form-control" />
                <span asp-validation-for="Ingredient.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>Prep Instructions:</h5>
                <input asp-for="Ingredient.Instructions" class="form-control" />
                <span asp-validation-for="Ingredient.Instructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>Select Recipe:</h5>
                <select asp-for="RecipeID" asp-items="Model.recipeList" class="dropdown"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="button" id="createButton"/>
            </div>
        </form>
    </div>
    <p>
        <a class="button" asp-area="" asp-page="Index" id="tableButton">Back to List</a>
    </p>
</div>
<p></p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
