@page
@model RazorPagesRecipe.Pages.Ingredients.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="pageTitle">
    <h2>Delete Ingredient</h2>
</div>
<div class="whiteBox">
    <hr />
    <div class="innerBox">
        <h5>Ingredient Name:</h5>
        <p>
            @Html.DisplayFor(model => model.Ingredient.Name)
        </p>
        <h5>Amount per Serving:</h5>
        <p>
            @Html.DisplayFor(model => model.Ingredient.Amount)
        </p>
        <h5>Prep Instructions:</h5>
        <p>
            @Html.DisplayFor(model => model.Ingredient.Instructions)
        </p>
        <h5>Meal:</h5>
        <p>
            @Html.DisplayFor(model => model.Ingredient.recipeName)
        </p>
    </div>
    <p>Are you sure you with to delete this ingredient?</p>
    <form method="post">
        <input type="hidden" asp-for="Ingredient.ID" />
        <input type="submit" value="Yes, Delete" class="button" id="deleteButton" />
        <a class="button" asp-page="./Index" id="tableButton">No, Back to List</a>
    </form>
</div>
