@page
@model RazorPagesRecipe.Pages.Recipes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="pageTitle">
    <h2>Delete Recipe</h2>
</div>
<div class="whiteBox">
    <hr />
    <div class="innerBox">
        <h5>
            Recipe Name:
        </h5>
        <p>
            @Html.DisplayFor(model => model.Recipe.Name)
        </p>
        <h5>
            Meal:
        </h5>
        <p>
            @Html.DisplayFor(model => model.Recipe.Meal)
        </p>
        <h5>
            Created On:
        </h5>
        <p>
            @Html.DisplayFor(model => model.Recipe.CreationDate)
        </p>
    </div>
    <p>Are you sure you wish to delete this recipe? </p>
    <form method="post">
        <input type="hidden" asp-for="Recipe.ID" />
        <input type="submit" value="Yes, Delete" class="button" id="deleteButton" />
        <a class="button" asp-area="" asp-page="./Index" id="tableButton">No, Back to List</a>
    </form>
</div>
