@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
        <h1>Recipe Database</h1>
</div>


<div class="homeSubTitle">
    <a class="button" asp-area="" asp-page="/Recipes/Index" id="homeButton">View Recipes</a>
    <a class="button" asp-area="" asp-page="/Recipes/Create" id="homeButton">Create New</a>
</div>